{:first_name "PENELOPE", :last_name "GUINESS", :xt/id 1}
{:first_name "NICK", :last_name "WAHLBERG", :xt/id 2}
{:first_name "ED", :last_name "CHASE", :xt/id 3}
{:first_name "JENNIFER", :last_name "DAVIS", :xt/id 4}
{:first_name "JOHNNY", :last_name "LOLLOBRIGIDA", :xt/id 5}
{:first_name "BETTE", :last_name "NICHOLSON", :xt/id 6}
{:first_name "GRACE", :last_name "MOSTEL", :xt/id 7}
{:first_name "MATTHEW", :last_name "JOHANSSON", :xt/id 8}
{:first_name "JOE", :last_name "SWANK", :xt/id 9}
{:first_name "CHRISTIAN", :last_name "GABLE", :xt/id 10}
{:first_name "ZERO", :last_name "CAGE", :xt/id 11}
{:first_name "KARL", :last_name "BERRY", :xt/id 12}
{:first_name "UMA", :last_name "WOOD", :xt/id 13}
{:first_name "VIVIEN", :last_name "BERGEN", :xt/id 14}
{:first_name "CUBA", :last_name "OLIVIER", :xt/id 15}
{:first_name "FRED", :last_name "COSTNER", :xt/id 16}
{:first_name "HELEN", :last_name "VOIGHT", :xt/id 17}
{:first_name "DAN", :last_name "TORN", :xt/id 18}
{:first_name "BOB", :last_name "FAWCETT", :xt/id 19}
{:first_name "LUCILLE", :last_name "TRACY", :xt/id 20}
{:first_name "KIRSTEN", :last_name "PALTROW", :xt/id 21}
{:first_name "ELVIS", :last_name "MARX", :xt/id 22}
{:first_name "SANDRA", :last_name "KILMER", :xt/id 23}
{:first_name "CAMERON", :last_name "STREEP", :xt/id 24}
{:first_name "KEVIN", :last_name "BLOOM", :xt/id 25}
{:first_name "RIP", :last_name "CRAWFORD", :xt/id 26}
{:first_name "JULIA", :last_name "MCQUEEN", :xt/id 27}
{:first_name "WOODY", :last_name "HOFFMAN", :xt/id 28}
{:first_name "ALEC", :last_name "WAYNE", :xt/id 29}
{:first_name "SANDRA", :last_name "PECK", :xt/id 30}
{:first_name "SISSY", :last_name "SOBIESKI", :xt/id 31}
{:first_name "TIM", :last_name "HACKMAN", :xt/id 32}
{:first_name "MILLA", :last_name "PECK", :xt/id 33}
{:first_name "AUDREY", :last_name "OLIVIER", :xt/id 34}
{:first_name "JUDY", :last_name "DEAN", :xt/id 35}
{:first_name "BURT", :last_name "DUKAKIS", :xt/id 36}
{:first_name "VAL", :last_name "BOLGER", :xt/id 37}
{:first_name "TOM", :last_name "MCKELLEN", :xt/id 38}
{:first_name "GOLDIE", :last_name "BRODY", :xt/id 39}
{:first_name "JOHNNY", :last_name "CAGE", :xt/id 40}
{:first_name "JODIE", :last_name "DEGENERES", :xt/id 41}
{:first_name "TOM", :last_name "MIRANDA", :xt/id 42}
{:first_name "KIRK", :last_name "JOVOVICH", :xt/id 43}
{:first_name "NICK", :last_name "STALLONE", :xt/id 44}
{:first_name "REESE", :last_name "KILMER", :xt/id 45}
{:first_name "PARKER", :last_name "GOLDBERG", :xt/id 46}
{:first_name "JULIA", :last_name "BARRYMORE", :xt/id 47}
{:first_name "FRANCES", :last_name "DAY-LEWIS", :xt/id 48}
{:first_name "ANNE", :last_name "CRONYN", :xt/id 49}
{:first_name "NATALIE", :last_name "HOPKINS", :xt/id 50}
{:first_name "GARY", :last_name "PHOENIX", :xt/id 51}
{:first_name "CARMEN", :last_name "HUNT", :xt/id 52}
{:first_name "MENA", :last_name "TEMPLE", :xt/id 53}
{:first_name "PENELOPE", :last_name "PINKETT", :xt/id 54}
{:first_name "FAY", :last_name "KILMER", :xt/id 55}
{:first_name "DAN", :last_name "HARRIS", :xt/id 56}
{:first_name "JUDE", :last_name "CRUISE", :xt/id 57}
{:first_name "CHRISTIAN", :last_name "AKROYD", :xt/id 58}
{:first_name "DUSTIN", :last_name "TAUTOU", :xt/id 59}
{:first_name "HENRY", :last_name "BERRY", :xt/id 60}
{:first_name "CHRISTIAN", :last_name "NEESON", :xt/id 61}
{:first_name "JAYNE", :last_name "NEESON", :xt/id 62}
{:first_name "CAMERON", :last_name "WRAY", :xt/id 63}
{:first_name "RAY", :last_name "JOHANSSON", :xt/id 64}
{:first_name "ANGELA", :last_name "HUDSON", :xt/id 65}
{:first_name "MARY", :last_name "TANDY", :xt/id 66}
{:first_name "JESSICA", :last_name "BAILEY", :xt/id 67}
{:first_name "RIP", :last_name "WINSLET", :xt/id 68}
{:first_name "KENNETH", :last_name "PALTROW", :xt/id 69}
{:first_name "MICHELLE", :last_name "MCCONAUGHEY", :xt/id 70}
{:first_name "ADAM", :last_name "GRANT", :xt/id 71}
{:first_name "SEAN", :last_name "WILLIAMS", :xt/id 72}
{:first_name "GARY", :last_name "PENN", :xt/id 73}
{:first_name "MILLA", :last_name "KEITEL", :xt/id 74}
{:first_name "BURT", :last_name "POSEY", :xt/id 75}
{:first_name "ANGELINA", :last_name "ASTAIRE", :xt/id 76}
{:first_name "CARY", :last_name "MCCONAUGHEY", :xt/id 77}
{:first_name "GROUCHO", :last_name "SINATRA", :xt/id 78}
{:first_name "MAE", :last_name "HOFFMAN", :xt/id 79}
{:first_name "RALPH", :last_name "CRUZ", :xt/id 80}
{:first_name "SCARLETT", :last_name "DAMON", :xt/id 81}
{:first_name "WOODY", :last_name "JOLIE", :xt/id 82}
{:first_name "BEN", :last_name "WILLIS", :xt/id 83}
{:first_name "JAMES", :last_name "PITT", :xt/id 84}
{:first_name "MINNIE", :last_name "ZELLWEGER", :xt/id 85}
{:first_name "GREG", :last_name "CHAPLIN", :xt/id 86}
{:first_name "SPENCER", :last_name "PECK", :xt/id 87}
{:first_name "KENNETH", :last_name "PESCI", :xt/id 88}
{:first_name "CHARLIZE", :last_name "DENCH", :xt/id 89}
{:first_name "SEAN", :last_name "GUINESS", :xt/id 90}
{:first_name "CHRISTOPHER", :last_name "BERRY", :xt/id 91}
{:first_name "KIRSTEN", :last_name "AKROYD", :xt/id 92}
{:first_name "ELLEN", :last_name "PRESLEY", :xt/id 93}
{:first_name "KENNETH", :last_name "TORN", :xt/id 94}
{:first_name "DARYL", :last_name "WAHLBERG", :xt/id 95}
{:first_name "GENE", :last_name "WILLIS", :xt/id 96}
{:first_name "MEG", :last_name "HAWKE", :xt/id 97}
{:first_name "CHRIS", :last_name "BRIDGES", :xt/id 98}
{:first_name "JIM", :last_name "MOSTEL", :xt/id 99}
{:first_name "SPENCER", :last_name "DEPP", :xt/id 100}
{:first_name "SUSAN", :last_name "DAVIS", :xt/id 101}
{:first_name "WALTER", :last_name "TORN", :xt/id 102}
{:first_name "MATTHEW", :last_name "LEIGH", :xt/id 103}
{:first_name "PENELOPE", :last_name "CRONYN", :xt/id 104}
{:first_name "SIDNEY", :last_name "CROWE", :xt/id 105}
{:first_name "GROUCHO", :last_name "DUNST", :xt/id 106}
{:first_name "GINA", :last_name "DEGENERES", :xt/id 107}
{:first_name "WARREN", :last_name "NOLTE", :xt/id 108}
{:first_name "SYLVESTER", :last_name "DERN", :xt/id 109}
{:first_name "SUSAN", :last_name "DAVIS", :xt/id 110}
{:first_name "CAMERON", :last_name "ZELLWEGER", :xt/id 111}
{:first_name "RUSSELL", :last_name "BACALL", :xt/id 112}
{:first_name "MORGAN", :last_name "HOPKINS", :xt/id 113}
{:first_name "MORGAN", :last_name "MCDORMAND", :xt/id 114}
{:first_name "HARRISON", :last_name "BALE", :xt/id 115}
{:first_name "DAN", :last_name "STREEP", :xt/id 116}
{:first_name "RENEE", :last_name "TRACY", :xt/id 117}
{:first_name "CUBA", :last_name "ALLEN", :xt/id 118}
{:first_name "WARREN", :last_name "JACKMAN", :xt/id 119}
{:first_name "PENELOPE", :last_name "MONROE", :xt/id 120}
{:first_name "LIZA", :last_name "BERGMAN", :xt/id 121}
{:first_name "SALMA", :last_name "NOLTE", :xt/id 122}
{:first_name "JULIANNE", :last_name "DENCH", :xt/id 123}
{:first_name "SCARLETT", :last_name "BENING", :xt/id 124}
{:first_name "ALBERT", :last_name "NOLTE", :xt/id 125}
{:first_name "FRANCES", :last_name "TOMEI", :xt/id 126}
{:first_name "KEVIN", :last_name "GARLAND", :xt/id 127}
{:first_name "CATE", :last_name "MCQUEEN", :xt/id 128}
{:first_name "DARYL", :last_name "CRAWFORD", :xt/id 129}
{:first_name "GRETA", :last_name "KEITEL", :xt/id 130}
{:first_name "JANE", :last_name "JACKMAN", :xt/id 131}
{:first_name "ADAM", :last_name "HOPPER", :xt/id 132}
{:first_name "RICHARD", :last_name "PENN", :xt/id 133}
{:first_name "GENE", :last_name "HOPKINS", :xt/id 134}
{:first_name "RITA", :last_name "REYNOLDS", :xt/id 135}
{:first_name "ED", :last_name "MANSFIELD", :xt/id 136}
{:first_name "MORGAN", :last_name "WILLIAMS", :xt/id 137}
{:first_name "LUCILLE", :last_name "DEE", :xt/id 138}
{:first_name "EWAN", :last_name "GOODING", :xt/id 139}
{:first_name "WHOOPI", :last_name "HURT", :xt/id 140}
{:first_name "CATE", :last_name "HARRIS", :xt/id 141}
{:first_name "JADA", :last_name "RYDER", :xt/id 142}
{:first_name "RIVER", :last_name "DEAN", :xt/id 143}
{:first_name "ANGELA", :last_name "WITHERSPOON", :xt/id 144}
{:first_name "KIM", :last_name "ALLEN", :xt/id 145}
{:first_name "ALBERT", :last_name "JOHANSSON", :xt/id 146}
{:first_name "FAY", :last_name "WINSLET", :xt/id 147}
{:first_name "EMILY", :last_name "DEE", :xt/id 148}
{:first_name "RUSSELL", :last_name "TEMPLE", :xt/id 149}
{:first_name "JAYNE", :last_name "NOLTE", :xt/id 150}
{:first_name "GEOFFREY", :last_name "HESTON", :xt/id 151}
{:first_name "BEN", :last_name "HARRIS", :xt/id 152}
{:first_name "MINNIE", :last_name "KILMER", :xt/id 153}
{:first_name "MERYL", :last_name "GIBSON", :xt/id 154}
{:first_name "IAN", :last_name "TANDY", :xt/id 155}
{:first_name "FAY", :last_name "WOOD", :xt/id 156}
{:first_name "GRETA", :last_name "MALDEN", :xt/id 157}
{:first_name "VIVIEN", :last_name "BASINGER", :xt/id 158}
{:first_name "LAURA", :last_name "BRODY", :xt/id 159}
{:first_name "CHRIS", :last_name "DEPP", :xt/id 160}
{:first_name "HARVEY", :last_name "HOPE", :xt/id 161}
{:first_name "OPRAH", :last_name "KILMER", :xt/id 162}
{:first_name "CHRISTOPHER", :last_name "WEST", :xt/id 163}
{:first_name "HUMPHREY", :last_name "WILLIS", :xt/id 164}
{:first_name "AL", :last_name "GARLAND", :xt/id 165}
{:first_name "NICK", :last_name "DEGENERES", :xt/id 166}
{:first_name "LAURENCE", :last_name "BULLOCK", :xt/id 167}
{:first_name "WILL", :last_name "WILSON", :xt/id 168}
{:first_name "KENNETH", :last_name "HOFFMAN", :xt/id 169}
{:first_name "MENA", :last_name "HOPPER", :xt/id 170}
{:first_name "OLYMPIA", :last_name "PFEIFFER", :xt/id 171}
{:first_name "GROUCHO", :last_name "WILLIAMS", :xt/id 172}
{:first_name "ALAN", :last_name "DREYFUSS", :xt/id 173}
{:first_name "MICHAEL", :last_name "BENING", :xt/id 174}
{:first_name "WILLIAM", :last_name "HACKMAN", :xt/id 175}
{:first_name "JON", :last_name "CHASE", :xt/id 176}
{:first_name "GENE", :last_name "MCKELLEN", :xt/id 177}
{:first_name "LISA", :last_name "MONROE", :xt/id 178}
{:first_name "ED", :last_name "GUINESS", :xt/id 179}
{:first_name "JEFF", :last_name "SILVERSTONE", :xt/id 180}
{:first_name "MATTHEW", :last_name "CARREY", :xt/id 181}
{:first_name "DEBBIE", :last_name "AKROYD", :xt/id 182}
{:first_name "RUSSELL", :last_name "CLOSE", :xt/id 183}
{:first_name "HUMPHREY", :last_name "GARLAND", :xt/id 184}
{:first_name "MICHAEL", :last_name "BOLGER", :xt/id 185}
{:first_name "JULIA", :last_name "ZELLWEGER", :xt/id 186}
{:first_name "RENEE", :last_name "BALL", :xt/id 187}
{:first_name "ROCK", :last_name "DUKAKIS", :xt/id 188}
{:first_name "CUBA", :last_name "BIRCH", :xt/id 189}
{:first_name "AUDREY", :last_name "BAILEY", :xt/id 190}
{:first_name "GREGORY", :last_name "GOODING", :xt/id 191}
{:first_name "JOHN", :last_name "SUVARI", :xt/id 192}
{:first_name "BURT", :last_name "TEMPLE", :xt/id 193}
{:first_name "MERYL", :last_name "ALLEN", :xt/id 194}
{:first_name "JAYNE", :last_name "SILVERSTONE", :xt/id 195}
{:first_name "BELA", :last_name "WALKEN", :xt/id 196}
{:first_name "REESE", :last_name "WEST", :xt/id 197}
{:first_name "MARY", :last_name "KEITEL", :xt/id 198}
{:first_name "JULIA", :last_name "FAWCETT", :xt/id 199}
{:first_name "THORA", :last_name "TEMPLE", :xt/id 200}
