{:name "Action", :xt/id 1}
{:name "Animation", :xt/id 2}
{:name "Children", :xt/id 3}
{:name "Classics", :xt/id 4}
{:name "Comedy", :xt/id 5}
{:name "Documentary", :xt/id 6}
{:name "Drama", :xt/id 7}
{:name "Family", :xt/id 8}
{:name "Foreign", :xt/id 9}
{:name "Games", :xt/id 10}
{:name "Horror", :xt/id 11}
{:name "Music", :xt/id 12}
{:name "New", :xt/id 13}
{:name "Sci-Fi", :xt/id 14}
{:name "Sports", :xt/id 15}
{:name "Travel", :xt/id 16}
