;; deps.edn
{:mvn/repos {"ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        integrant/integrant {:mvn/version "0.8.1"}
        integrant/repl {:mvn/version "0.3.3"}
        com.xtdb.labs/xtdb-api {:mvn/version "2.0.0-SNAPSHOT"}
        com.xtdb.labs/xtdb-core {:mvn/version "2.0.0-SNAPSHOT"}
        ch.qos.logback/logback-classic {:mvn/version "1.4.11"}

        org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}

        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        ring/ring-core {:mvn/version "1.11.0"}
        hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        selmer/selmer {:mvn/version "1.12.55"}

        juxt/reap
        {:git/url "https://github.com/juxt/reap.git"
         :sha "6194f3187509816a2354842e2e610900aa43a769"}

        juxt/pick
        {:git/url "https://github.com/juxt/pick.git"
         :sha "dabc8c456eacf4246a9b8b449fcf554c5bb2b79f"}}

 :aliases {:xtdb {:jvm-opts
                  ;; needed on JDK16+
                  ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"]}

           :nrepl {:main-opts ["-m" "nrepl.cmdline"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}}

           :dev {:extra-paths ["dev"]
                 :jvm-opts
                 ;; needed on JDK16+
                 ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                  "-Dio.netty.tryReflectionSetAccessible=true"]}

           :test
           {:extra-paths ["test"]
            :extra-deps
            {lambdaisland/kaocha {:mvn/version "1.0.887"}
             lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
            ;;:jvm-opts ["--add-opens" "java.base/java.util.concurrent=ALL-UNNAMED"]
            :jvm-opts
            ;; needed on JDK16+
            ["--add-opens=java.base/java.nio=ALL-UNNAMED"
             "-Dio.netty.tryReflectionSetAccessible=true"]
            }}

 :paths ["src" "resources"]}
