---
import Xtdb, {q, ex} from '@xtdb/xtdb'

const node = new Xtdb('http://localhost:3000')

async function tableCount(table: string): Promise<number> {
  const [{rc}] = await node.query([
    q.from(table),
    q.aggregate({rc: ex.call("rowCount")})
  ])

  return rc
}

const tables = {
  films: await tableCount('film'),
  actors: await tableCount('actor'),
  customers: await tableCount('customer'),
  stores: await tableCount('store'),
  rentals: await tableCount('rental'),
}

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sakila Store</title>
    <script is:inline
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous" />
  </head>
  <body>
    <h1>Sakila Store</h1>

    <dl>
      {Object.keys(tables).map(table =>
        <>
          <dt>{table}</dt>
          <dd>{tables[table]}</dd>
        </>)}
    </dl>

  </body>
</html>
