{% extends "templates/screen.html" %}

{% block title %}<title>{{customer.first_name}} {{customer.last_name}}</title>{% endblock %}

{% block content %}

<section class="detail">
  <h2>{{customer.first-name}} {{customer.last-name}}</h2>
  <dl>
    <dt>ID</dt><dd>{{customer.id}}</dd>
    <dt>Phone</dt><dd>{{customer.phone}}</dd>
    <dt>Email</dt><dd>{{customer.email}}</dd>
  </dl>
</section>

<section>
  <h2>Current Rentals</h2>
  <table>
    <thead>
      <tr>
	<th>ID</th>
	<th>Film</th>
	<th>Rental date</th>
	<th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for rental in current_rentals %}
      <tr class="rental-row">
	<td>{{ rental.id }}</td>
	<td>{{ rental.title }}</td>
	<td>{{ rental.rental_date }}</td>
	<td>
        <form>
            <input name="return-date" type="date" />
            <button hx-delete="/rentals/{{ rental.id }}"
                    hx-on--before-cleanup-element="htmx.trigger('#historic-rentals', 'refresh')"
                    hx-target="closest .rental-row">Return</button>
        </form>
    </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section style="max-height: 30vh; overflow-y: auto" hx-get="historic-rentals.html" hx-target="#historic-rentals" hx-trigger="load">
  <h2>Historic Rentals</h2>
  <div id="historic-rentals">
  </div>
</section>

<section>
  <menu>
    <li><a href="/customers/{{customer.id}}/edit">Edit</a></li>
    <li><a href="/customers">Back</a></li>
  </menu>
</section>

{% endblock %}
