{% extends "templates/screen.html" %}

{% block title %}<title>Customers</title>{% endblock %}
{% block content %}
<section>
  <h2>Customers</h2>
  <form action="/customers" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ query_params.q }}"/>
    <input type="submit" value="Search"/>
  </form>
</section>

<section style="max-height: 200pt; overflow-y: auto">
  <div hx-get="/customers-table?q={{ query_params.q }}" hx-trigger="load">
    <p>Loading!!!</p>
  </div>
</section>

<section>
  <h2>Customer details</h2>
  <div id="customer-detail">
  </div>
</section>

<section>
  <menu>
    <li><a href="/">Home</a></li>
    <li><a href="/customers/new">Add Customer</a></li>
  </menu>
</section>

{% endblock %}
