<table>
  <thead>
    <tr>
      <th>ID </th>
      <th>Last name</th>
      <th>First name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.id }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.first_name }}</td>
      <td><a href="/customers/{{ customer.id }}/edit">Edit</a>
        <a href="/customers/{{ customer.id }}/">View</a>
	<a hx-get="/customers/{{ customer.id }}/detail"
	   hx-target="#customer-detail">Show</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
