{% extends "templates/layout.html" %}
{% block content %}
<h1>Films</h1>

<form action="/contacts" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="{{ query_params.q }}"/>
  <input type="submit" value="Search"/>
</form>

<table>
  <thead>
    <tr>
      <th>Title</th> <th>Description</th><th></th>
    </tr>
  </thead>
  <tbody>
    {% for film in films %}
    <tr>
      <td>{{ film.title }}</td>
      <td>{{ film.description }}</td>
      <td><a href="/films/{{ film.id }}/edit">Edit</a>
        <a href="/films/{{ film.id }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  <a href="/contacts/new">Add Contact</a>
</p>
{% endblock %}
