{% extends "templates/layout.html" %}

{% block content %}

<h1>{{film.id}}</h1>

[{:description
  "A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies",
  :replacement_cost 20.99,
  :special_features #{"Behind the Scenes" "Deleted Scenes"},
  :language_id 1,
  :rental_rate 0.99,
  :title "ACADEMY DINOSAUR",
  :rental_duration 6,
  :release_year 2006,
  :id 1,
  :length 86,
:rating "PG"}]

<dl>
  <dt>Title</dt><dd>{{film.title}}</dd>
  <dt>Description</dt><dd>{{film.description}}</dd>
  <dt>Language</dt><dd>{{film.language}}</dd>
</dl>

<p>
    <a href="/films/{{film.id}}/edit">Edit</a>
    <a href="/films">Back</a>
</p>

{% endblock %}
