{% extends "templates/screen.html" %}

{% block content %}

<h1>Welcome</h1>

This is a very early prototype demonstrator of the features of JUXT's upcoming XTDBv2 database.
It uses the open-source <a href="https://www.jooq.org/sakila">Sakila</a> dataset which

<blockquote>
  The Sakila database is a nicely normalised schema modelling a DVD rental store, featuring things like films, actors, film-actor relationships, and a central inventory table that connects films, stores, and rentals.
</blockquote>

<ul>
  <li><a href="/films">Films</a></li>
  <li><a href="/customers">Customers</a></li>
  <li><a href="/jdt/available-films">(jdt) Available Films</a></li>
  <li><a href="/yry/rentals">(yry) Rental Analytics</a></li>
</ul>

{% endblock %}
