<!doctype html>
<html lang="">
  <head>
    <title>Sakila App</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/missing.css.css">
    <link rel="stylesheet" href="/static/site.css">
    <script src="/static/htmx.org.js"></script>
    <script src="/static/hyperscript.js"></script>
<!--
    <script src="/static/js/rsjs-menu.js" type="module"></script>
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
-->
  </head>
  <body hx-boost="true">
    <main>
      <header>
        <h1>
          <all-caps>
            <a href="/">films.app</a>
          </all-caps>
          <sub-title>A Demo Application built on the Sakila database</sub-title>
        </h1>
      </header>
      {% for message in flashed_messages %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
