{% extends "templates/screen.html" %}

{% block content %}
<div class="grid-container">

    <section class="detail">
        <h2>Rental Analytics</h2>
    </section>

    <section style="overflow-y: auto;" hx-trigger="load" hx-get="/yry/rental-per-month">
        {% include "templates/rental-analytics/loading.html" %}
    </section>

    <section style="overflow-y: auto;" hx-trigger="load" hx-get="/yry/rental-per-category">
        {% include "templates/rental-analytics/loading.html" %}
    </section>

    <section style="overflow-y: auto;" hx-trigger="load" hx-get="/yry/top-renting-customers">
        {% include "templates/rental-analytics/loading.html" %}
    </section>

    <section style="overflow-y: auto;" hx-trigger="load" hx-get="/yry/top-rented-films">
        {% include "templates/rental-analytics/loading.html" %}
    </section>
</div>
{% endblock %}