{% extends "templates/layout.html" %}

{% block content %}
<div class="grid-container">

    <section class="detail">
        <h2>Rental Analytics</h2>
    </section>

    <section style="overflow-y: auto;">
        <table>
            <caption>Rentals per month</caption>
            <thead>
                <tr>
                    <th>Year </th>
                    <th>Month</th>
                    <th>Rented</th>
                </tr>
            </thead>
            <tbody>
                {% for rental in rentals_ym %}
                <tr>
                    <td>{{ rental.year }}</td>
                    <td>{{ rental.month }}</td>
                    <td>{{ rental.rented }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section style="overflow-y: auto;">
        <table>
            <caption>Rentals per category</caption>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Rented</th>
                </tr>
            </thead>
            <tbody>
                {% for rental in rentals_category %}
                <tr>
                    <td>{{ rental.category_name }}</td>
                    <td>{{ rental.films_rented }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section style="overflow-y: auto;">
        <table>
            <caption>Top renting users</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Rented</th>
                </tr>
            </thead>
            <tbody>
                {% for user in rentals_top_users %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }} </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.films_rented }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}