<!doctype html>
<html lang="">
  <head>
    <title>Sakila App</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/static/missing.css.css">
    <link rel="stylesheet" href="/static/screen.css">
    <script src="/static/htmx.org.js"></script>
    <script src="/static/hyperscript.js"></script>
<!--
    <script src="/static/js/rsjs-menu.js" type="module"></script>
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
-->
    {% block style %}{% endblock %}
  </head>
  <body hx-boost="true">
    {% block content %}{% endblock %}

    <footer>
      XTDB Sakila Demonstrator. Copyright © 2024, JUXT LTD.
      <a href="https://github.com/xtdb/sakila-playground">GitHub</a>
    </footer>
  </body>
</html>
