<h3>Most Recent Rentals</h3>

<section class="tab-list" role="tablist">
	<button hx-get="/yry/most-recent-rentals/table" {% ifequal selected "table" %} class="selected" aria-selected="true" {% endifequal %} role="tab"  aria-controls="most-recent-rentals-tab-content">Table</button>
	<button hx-get="/yry/most-recent-rentals/query" {% ifequal selected "query" %} class="selected" aria-selected="true" {% endifequal %} role="tab"  aria-controls="most-recent-rentals-tab-content">Query</button>
	<button hx-get="/yry/most-recent-rentals/data"  {% ifequal selected "data" %}  class="selected" aria-selected="true" {% endifequal %} role="tab"  aria-controls="most-recent-rentals-tab-content">Data</button>
	<button hx-get="/yry/most-recent-rentals/chart" {% ifequal selected "chart" %} class="selected" aria-selected="true" {% endifequal %} role="tab"  aria-controls="most-recent-rentals-tab-content">Chart</button>
</section>

<section id="most-recent-rentals-content" role="tabpanel" class="tab-content">
    {% with query_path="sql/most-recent-rentals.sql"
            query_raw=query_path|resource-load %}
        {% ifequal selected "query" %} 
            <pre><code>{{ query_raw }}</code></pre> 
        {% else %}
            {% with from_date = query_params.from_date|to-sql-date
                    to_date = query_params.to_date|to-sql-date
                    most_recent_rentals = query_raw|query:@from_date:@to_date
                    query_error=most_recent_rentals.error %}
                {% if query_error %}
                    {% include "templates/rental-analytics/query-error.html" %}
                {% else %}
                    {% ifequal selected "data" %}
                        <code>{{ most_recent_rentals.result|json }}</code>    
                    {% endifequal %}
                    {% ifequal selected "table" %}
                        {% include "templates/rental-analytics/tables/most-recent-rentals.html" %}    
                    {% endifequal %}
                    {% ifequal selected "chart" %}
                        {% include "templates/rental-analytics/charts/most-recent-rentals.html" %}
                    {% endifequal %}                    
            {% endif %}
            {% endwith %}
        {% endifequal %}
    {% endwith %}
</section>