<h3>Rentals per Month</h3>

<section class="tab-list" role="tablist">
	<button hx-get="/yry/rental-per-month/table" {% ifequal selected "table" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="rentals-per-month-tab-content">Table</button>
	<button hx-get="/yry/rental-per-month/query" {% ifequal selected "query" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="rentals-per-month-tab-content">Query</button>
	<button hx-get="/yry/rental-per-month/data"  {% ifequal selected "data" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="rentals-per-month-tab-content">Data</button>
	<button hx-get="/yry/rental-per-month/chart"  {% ifequal selected "chart" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="rentals-per-month-tab-content">Chart</button>
</section>

<section id="rentals-per-month-tab-content" role="tabpanel" class="tab-content">
    {% with query_path="sql/rentals-per-year-month.sql"
            query_raw=query_path|resource-load %}
        {% ifequal selected "query" %} 
            <pre><code>{{ query_raw }}</code></pre> 
        {% else %}
            {% with rentals_ym = query_raw|query 
                    query_error=rentals_category.error %}
                {% if query_error %}
                    {% include "templates/rental-analytics/query-error.html" %}
                {% else %}
                    {% ifequal selected "table" %}
                        {% include "templates/rental-analytics/tables/rentals-per-month.html" %}    
                    {% endifequal %}
                    {% ifequal selected "chart" %}
                        {% include "templates/rental-analytics/charts/rentals-per-month.html" %}
                    {% endifequal %}
                    {% ifequal selected "data" %}
                        <code>{{ rentals_ym.result|json|safe }}</code>
                    {% endifequal %}
                {% endif %}       
            {% endwith %}
        {% endifequal %}
    {% endwith %}
</section>