{% with rentals_category= "https://raw.githubusercontent.com/xtdb/sakila-playground/htmx/resources/sql/rentals-by-category.sql" %}
<table>
    <caption>Rentals per category</caption>
    <thead>
        <tr>
            <th>Category</th>
            <th>Rented</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals_category|url-load|query %}
        <tr>
            <td>{{ rental.category_name }}</td>
            <td>{{ rental.films_rented }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}