<h3>Rentals per Category</h3>

<section class="tab-list" role="tablist">
	<button hx-get="/yry/rental-per-category/table" {% ifequal selected "table" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="category-tab-content">Table</button>
	<button hx-get="/yry/rental-per-category/query" {% ifequal selected "query" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="category-tab-content">Query</button>
	<button hx-get="/yry/rental-per-category/data"  {% ifequal selected "data" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="category-tab-content">Data</button>
	<button hx-get="/yry/rental-per-category/chart"  {% ifequal selected "chart" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="category-tab-content">Chart</button>
</section>

<section id="category-tab-content" role="tabpanel" class="tab-content">
    {% with query_path="sql/rentals-by-category.sql"
            query_raw=query_path|resource-load %}
        {% ifequal selected "query" %} 
            <pre><code>{{ query_raw }}</code></pre> 
        {% endifequal %}
        {% ifequal selected "table" %}
            {% include "templates/rental-analytics/tables/rentals-per-category.html" %}    
        {% endifequal %}
        {% ifequal selected "data"%}
            {% with rentals_category = query_raw|query
                query_error=rentals_category.error %}
                {% if query_error %}
                    {% include "templates/rental-analytics/query-error.html" %}
                {% else %}
                    <code>{{ rentals_category.result|json }}</code>
                {% endif %}
            {% endwith %}                
        {% endifequal %}
        {% ifequal selected "chart" %}
                {% include "templates/rental-analytics/charts/rentals-per-category.html" %}
        {% endifequal %}    
    {% endwith %}
</section>