{% with rentals_category_path="sql/rentals-by-category.sql" 
        rentals_category=rentals_category_path|resource-load|query %}
<table>
    <caption>Rentals per category</caption>
    <thead>
        <tr>
            <th>Category</th>
            <th>Rented</th>
        </tr>
    </thead>
    <tbody>
        {% for rental in rentals_category %}
        <tr>
            <td>{{ rental.category_name }}</td>
            <td>{{ rental.films_rented }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endwith %}