<h3>Top Rented Films</h3>

<section class="tab-list" role="tablist">
	<button hx-get="/yry/top-rented-films/table" {% ifequal selected "table" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="top-rented-films-tab-content">Table</button>
	<button hx-get="/yry/top-rented-films/query" {% ifequal selected "query" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab"  aria-controls="top-rented-films-tab-content">Query</button>
	<button hx-get="/yry/top-rented-films/data"  {% ifequal selected "data" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="top-rented-films-tab-content">Data</button>
	<button hx-get="/yry/top-rented-films/chart"  {% ifequal selected "chart" %} class="selected" aria-selected="true" autofocus {% endifequal %} role="tab" aria-controls="top-rented-films-tab-content">Chart</button>
</section>

<section id="top-rented-films-tab-content" role="tabpanel" class="tab-content">
    {% with query_path="sql/top-rented-films.sql"
            query_raw=query_path|resource-load %}
        {% ifequal selected "query" %} 
            <pre><code>{{ query_raw }}</code></pre> 
        {% else %}
            {% with top_rented_films = query_raw|query
                    query_error=top_rented_films.error %}
                {% if query_error %}
                    {% include "templates/rental-analytics/query-error.html" %}
                {% else %}
                    {% ifequal selected "data" %}
                        <code>{{ top_rented_films.result|json }}</code>
                    {% endifequal %}
                    {% ifequal selected "table" %}
                        {% include "templates/rental-analytics/tables/top-rented-films.html" %}    
                    {% endifequal %}
                    {% ifequal selected "chart" %}
                        {% include "templates/rental-analytics/charts/top-rented-films.html" %}
                    {% endifequal %}            
                {% endif %}
            {% endwith %}
        {% endifequal %}
    {% endwith %}
</section>